<div class="error">
    <h2 class="error-title">Looks like you might be lost.</h2>
    <video autoplay loop muted>
        <source src="/assets/images/giphy-loop.mp4" type="video/mp4">
    </video>
    <h3 class="error-message">Try going <span><a href="/">back</a></span>.</h3>
</div>