<div class="home-background">
    <div class="jumbotron">
        <h1 class="display-4">MongoLines</h1>
        <p class="lead">Scraping today's headlines in Mongo fashion</p>
        <small>Courtesy of <a href="https://www.newyorker.com/" alt="Link to The New Yorker" target="_blank">The New Yorker</a></small>
        <hr class="my-4">
        <button id="fetch-articles" class="btn btn-primary" role="button">
            <div id="fetch-spinner" class="spinner-border spinner-border-sm text-light" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <span id="fetch-label">Fetch!</span>
            </button>
        <a id="view-articles" href="/articles" class="btn btn-primary" role="button">View</a>
    </div>
</div>

  <div class="modal fade" id="article-count-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Success!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><span id="count"></span> articles were added!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script>
      $(document).ready(function() {

          {{!-- "Hides the spinner icon when the page loads." --}}
          $("#fetch-spinner").hide();

          {{!-- "When the 'fetch' button is click, the spinner icon appears for the duration of the AJAX call." --}}
          $("#fetch-articles").on("click", function() {
              $("#fetch-spinner").show();
              $("#fetch-label").hide();
              $.ajax({
                  url: "/articles/fetch",
                  method: "GET"
              }).then(function(results) {
                {{!-- "Then a modal will show how many articles were scraped and hide the spinner icon" --}}
                $("#count").text(results.count);
                $("#article-count-modal").modal("show");
                $("#fetch-spinner").hide();
                $("#fetch-label").show();
              })
          })
      })
  </script>