<div class="home-background">
    <div class="jumbotron">
        <h1 class="display-4">MongoLines</h1>
        <p class="lead">Scrapping today's headlines in Mongo fashion</p>
        <hr class="my-4">
        <a id="fetch-articles" href="/articles/fetch" class="btn btn-primary" role="button">Fetch!</a>
        <a id="view-articles" href="/articles" class="btn btn-primary" role="button">View</a>
    </div>
</div>