html {
    overflow-y: overlay;
}

body {
    font-family: 'Hepta Slab', serif;
    background-color: #222;
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #222;
}

::-webkit-scrollbar-thumb {
    background-color: #DDD;
    border-radius: 10px;
    -webkit-transition: color 0.25s ease;
}

h1 {
    font-family: 'Marcellus', serif;
}

h5 {
    font-family: 'Hepta Slab', serif;
    font-weight: 700;
}

.jumbotron-mod > hr {
    background-color: white;
}

.modal {
    color: black;
}

.home-background {
    background-image: url("../images/background.png");
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 5rem;
}

.jumbotron {
    margin: 0;
    width: 100%;
    background-color: rgb(255,255,255,0.8);
    color: black;
}

.card {
    background-color: #222;
    border-color: #DDD;
}

.jumbotron-mod {
    background-color: #222;
    color: #FFF;
}

.card-img-top {
    width: initial;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.card-img-top-mod {
    margin: 1rem auto 0 auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-radius: 50%;
}